In [6]:
import rioxarray
import pandas as pd
import geopandas as gpd

/Users/joaopedro/env/lib/python3.8/site-packages/geopandas/_compat.py:123: UserWarning: The Shapely GEOS version (3.11.3-CAPI-1.17.3) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
/var/folders/fx/kx7__pwn2tv9449n14s5rx1w0000gn/T/ipykernel_11920/877517165.py:3: UserWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas will still use PyGEOS by default for now. To force to use and test Shapely 2.0, you have to set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In a future release, GeoPandas will switch to using Shapely by default. If you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd

In [3]:
rds = rioxarray.open_rasterio("../../QGIS/aglomerados_subnormais/ntl_sp.tif", cache=False)
rds.name = "data"

In [4]:
xmin, ymin, xmax, ymax = [-74.00, -34.00, -33.00, 6.00]
df = rds.squeeze().sel(x=slice(xmin, xmax)).to_dataframe().reset_index()
df

               y          x  band  spatial_ref      data
0     -23.358334 -46.824999     1            0  4.715889
1     -23.358334 -46.820832     1            0  3.957874
2     -23.358334 -46.816666     1            0  3.497723
3     -23.358334 -46.812499     1            0  3.275461
4     -23.358334 -46.808332     1            0  3.196650
...          ...        ...   ...          ...       ...
17422 -24.008334 -46.383332     1            0  5.431563
17423 -24.008334 -46.379166     1            0  4.698040
17424 -24.008334 -46.374999     1            0  4.146701
17425 -24.008334 -46.370832     1            0  3.778510
17426 -24.008334 -46.366666     1            0  3.594203

[17427 rows x 5 columns]

In [5]:
nighttime_lights = df[['y','x','data']].rename({'y':'lat', 'x':'long', 'data': 'radiance'}, axis=1)
nighttime_lights

             lat       long  radiance
0     -23.358334 -46.824999  4.715889
1     -23.358334 -46.820832  3.957874
2     -23.358334 -46.816666  3.497723
3     -23.358334 -46.812499  3.275461
4     -23.358334 -46.808332  3.196650
...          ...        ...       ...
17422 -24.008334 -46.383332  5.431563
17423 -24.008334 -46.379166  4.698040
17424 -24.008334 -46.374999  4.146701
17425 -24.008334 -46.370832  3.778510
17426 -24.008334 -46.366666  3.594203

[17427 rows x 3 columns]

In [10]:
shapefile_br = gpd.read_file('../../QGIS/aglomerados_subnormais/sp_grid_area/grid.shp')
shapefile_br

,fid,CD_MUN,NM_MUN,SIGLA,AREA_KM2,id,left,top,right,bottom,...,AP3_NO_MUN,AP3_NO_FAN,AP3_DS_TIP,AP3_NO_LOG,AP3_NU_END,AP3_NO_BAI,Shape_Leng,Shape_Area,deprived_a,geometry
0,64.0,3550308,São Paulo,SP,1521.202,64.0,313321.320095,7.410079e+06,313421.320095,7.409979e+06,...,None,None,None,None,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82602 -23.40915, -46.82613 -23.4..."
1,786.0,3550308,São Paulo,SP,1521.202,786.0,313421.320095,7.410679e+06,313521.320095,7.410579e+06,...,None,None,None,None,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82530 -23.40379, -46.82517 -23.4..."
2,787.0,3550308,São Paulo,SP,1521.202,787.0,313421.320095,7.410579e+06,313521.320095,7.410479e+06,...,None,None,None,None,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82508 -23.40486, -46.82511 -23.4..."
3,788.0,3550308,São Paulo,SP,1521.202,788.0,313421.320095,7.410479e+06,313521.320095,7.410379e+06,...,None,None,None,None,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82503 -23.40534, -46.82508 -23.4..."
4,791.0,3550308,São Paulo,SP,1521.202,791.0,313421.320095,7.410179e+06,313521.320095,7.410079e+06,...,None,None,None,None,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82586 -23.40846, -46.82582 -23.4..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154243,343784.0,3550308,São Paulo,SP,1521.202,343784.0,360521.320095,7.399679e+06,360621.320095,7.399579e+06,...,POA,USF CIDADE KEMEL,CENTRO DE SAUDE/UNIDADE BASICA,RUA FLORIANOPOLIS,167.0,CIDADE KEMEL,0.016803,0.000005,3820.861193,"POLYGON ((-46.36567 -23.50719, -46.36567 -23.5..."
154244,343785.0,3550308,São Paulo,SP,1521.202,343785.0,360521.320095,7.399579e+06,360621.320095,7.399479e+06,...,POA,USF CIDADE KEMEL,CENTRO DE SAUDE/UNIDADE BASICA,RUA FLORIANOPOLIS,167.0,CIDADE KEMEL,0.016803,0.000005,1551.597297,"POLYGON ((-46.36576 -23.50802, -46.36578 -23.5..."
154245,343786.0,3550308,São Paulo,SP,1521.202,343786.0,360521.320095,7.399479e+06,360621.320095,7.399379e+06,...,None,None,None,None,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.36594 -23.50893, -46.36594 -23.5..."
154246,343787.0,3550308,São Paulo,SP,1521.202,343787.0,360521.320095,7.399379e+06,360621.320095,7.399279e+06,...,None,None,None,None,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.36582 -23.50986, -46.36586 -23.5..."
154247,343788.0,3550308,São Paulo,SP,1521.202,343788.0,360521.320095,7.399279e+06,360621.320095,7.399179e+06,...,None,None,None,None,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.36598 -23.51079, -46.36601 -23.5..."

In [8]:
gdf = gpd.GeoDataFrame(
      nighttime_lights, geometry=gpd.points_from_xy(nighttime_lights.long, nighttime_lights.lat))
gdf

             lat       long  radiance                     geometry
0     -23.358334 -46.824999  4.715889  POINT (-46.82500 -23.35833)
1     -23.358334 -46.820832  3.957874  POINT (-46.82083 -23.35833)
2     -23.358334 -46.816666  3.497723  POINT (-46.81667 -23.35833)
3     -23.358334 -46.812499  3.275461  POINT (-46.81250 -23.35833)
4     -23.358334 -46.808332  3.196650  POINT (-46.80833 -23.35833)
...          ...        ...       ...                          ...
17422 -24.008334 -46.383332  5.431563  POINT (-46.38333 -24.00833)
17423 -24.008334 -46.379166  4.698040  POINT (-46.37917 -24.00833)
17424 -24.008334 -46.374999  4.146701  POINT (-46.37500 -24.00833)
17425 -24.008334 -46.370832  3.778510  POINT (-46.37083 -24.00833)
17426 -24.008334 -46.366666  3.594203  POINT (-46.36667 -24.00833)

[17427 rows x 4 columns]

In [13]:
# points_in_polygons_gdf = gpd.sjoin(gdf, shapefile_br, predicate='within', how='inner')
# points_in_polygons_gdf
# points_gdf = gdf.to_crs(shapefile_br.crs)
joined_gdf = gpd.sjoin(gdf, shapefile_br, how="inner", op="intersects")

# Calcular as estatísticas por célula do grid
stats_df = joined_gdf.groupby('index_right').agg(
    count=('radiance', 'count'),
    sum=('radiance', 'sum'),
    mean=('radiance', 'mean')
).reset_index()

# Unir as estatísticas calculadas ao GeoDataFrame dos grids
grids_gdf = shapefile_br.merge(stats_df, left_index=True, right_on='index_right', how='left')

# Preencher valores NaN com 0 (caso não haja pontos em algumas células)
grids_gdf[['count', 'sum', 'mean']] = grids_gdf[['count', 'sum', 'mean']].fillna(0)
grids_gdf

/Users/joaopedro/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3445: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):
/var/folders/fx/kx7__pwn2tv9449n14s5rx1w0000gn/T/ipykernel_11920/4193874672.py:4: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4674

  joined_gdf = gpd.sjoin(gdf, shapefile_br, how="inner", op="intersects")

,fid,CD_MUN,NM_MUN,SIGLA,AREA_KM2,id,left,top,right,bottom,...,AP3_NU_END,AP3_NO_BAI,Shape_Leng,Shape_Area,deprived_a,geometry,index_right,count,sum,mean
NaN,64.0,3550308,São Paulo,SP,1521.202,64.0,313321.320095,7.410079e+06,313421.320095,7.409979e+06,...,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82602 -23.40915, -46.82613 -23.4...",0,0.0,0.000000,0.000000
NaN,786.0,3550308,São Paulo,SP,1521.202,786.0,313421.320095,7.410679e+06,313521.320095,7.410579e+06,...,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82530 -23.40379, -46.82517 -23.4...",1,0.0,0.000000,0.000000
0.0,787.0,3550308,São Paulo,SP,1521.202,787.0,313421.320095,7.410579e+06,313521.320095,7.410479e+06,...,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82508 -23.40486, -46.82511 -23.4...",2,1.0,32.292686,32.292686
NaN,788.0,3550308,São Paulo,SP,1521.202,788.0,313421.320095,7.410479e+06,313521.320095,7.410379e+06,...,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82503 -23.40534, -46.82508 -23.4...",3,0.0,0.000000,0.000000
1.0,791.0,3550308,São Paulo,SP,1521.202,791.0,313421.320095,7.410179e+06,313521.320095,7.410079e+06,...,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.82586 -23.40846, -46.82582 -23.4...",4,1.0,46.117233,46.117233
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,343784.0,3550308,São Paulo,SP,1521.202,343784.0,360521.320095,7.399679e+06,360621.320095,7.399579e+06,...,167.0,CIDADE KEMEL,0.016803,0.000005,3820.861193,"POLYGON ((-46.36567 -23.50719, -46.36567 -23.5...",154243,0.0,0.000000,0.000000
NaN,343785.0,3550308,São Paulo,SP,1521.202,343785.0,360521.320095,7.399579e+06,360621.320095,7.399479e+06,...,167.0,CIDADE KEMEL,0.016803,0.000005,1551.597297,"POLYGON ((-46.36576 -23.50802, -46.36578 -23.5...",154244,0.0,0.000000,0.000000
NaN,343786.0,3550308,São Paulo,SP,1521.202,343786.0,360521.320095,7.399479e+06,360621.320095,7.399379e+06,...,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.36594 -23.50893, -46.36594 -23.5...",154245,0.0,0.000000,0.000000
NaN,343787.0,3550308,São Paulo,SP,1521.202,343787.0,360521.320095,7.399379e+06,360621.320095,7.399279e+06,...,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.36582 -23.50986, -46.36586 -23.5...",154246,0.0,0.000000,0.000000
NaN,343788.0,3550308,São Paulo,SP,1521.202,343788.0,360521.320095,7.399279e+06,360621.320095,7.399179e+06,...,NaN,None,NaN,NaN,NaN,"POLYGON ((-46.36598 -23.51079, -46.36601 -23.5...",154247,0.0,0.000000,0.000000

In [14]:
grids_gdf.to_file('../dataset/nightlights_sp/nightlights_sp.shp', index=False)

/var/folders/fx/kx7__pwn2tv9449n14s5rx1w0000gn/T/ipykernel_11920/1817547917.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  grids_gdf.to_file('../dataset/nightlights_sp/nightlights_sp.shp', index=False)